{% extends "Template.html" %}
{% block content %}

        <section class="works service-page">
            <div class="container-fluid">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Please Select One Of the Options Below</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        <strong>Administrative personnel has the authority to perform any of the following below, <br> We ask that you please maintain a very high level of integrity while doing so.</strong> 
                    </p>
                <div class="row">
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/course.jpg" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="/createcourse">Course</a>        
                                        <a target="_blank" href="ecourse">Section</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="/createcourse">
                                        Courses        
                                    </a>
                                </h4>
                                <p>
                                    Create a course or section
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/edit.png" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="Sinfo">
                                        View Faculty/Student        
                                    </a>
                                </h4>
                                <p>
                                     View faculty and Student information
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/Hold.jpg" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="/addhold">Add</a>        
                                        <a target="_blank" href="">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="/addhold">

                                        Holds        
                                    </a>
                                </h4>
                                <p>
                                    Add Or Remove Holds
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                                <a href="/reset"><img src="images/portfolio/password.jpg" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                   </div>
                                </div></a>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="/reset">
                                        Password        
                                    </a>
                                </h4>
                                <p>
                                    Reset Student/Faculty Password
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                   

                </div>
            </div>
        </section>
        
{% endblock %}