{% extends "Template.html" %}
{% block content %}

        <section class="works service-page">
            <div class="container-fluid">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Please Select One Of the Options Below</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        <strong>Administrative personnel has the authority to perform any of the following below, <br> We ask that you please maintain a very high level of integrity while doing so.</strong> 
                    </p>
                <div class="row">
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/course.jpg" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="createcourse">Create</a>        
                                        <a target="_blank" href="ecourse">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="createcourse">
                                        Courses        
                                    </a>
                                </h4>
                                <p>
                                    Create/Edit a Course
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/edit.png" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="Sinfo">Students</a>        
                                        <a target="_blank" href="Tinfo">Faculty</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                        Edit Faculty/Student        
                                    </a>
                                </h4>
                                <p>
                                    Edit or View faculty and Student information
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/hold.jpg" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="images/portfolio/hold.jpg">Add</a>        
                                        <a target="_blank" href="">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Holds        
                                    </a>
                                </h4>
                                <p>
                                    Add Or Remove Holds
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/password.jpg" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="reset">Reset</a>        
                                   </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="reset">
                                        Password        
                                    </a>
                                </h4>
                                <p>
                                    Reset Student/Faculty Password
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    
                                  <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/curriculum.jpg" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="">blank</a>        
                                    	<a target="_blank" href="">blank</a>
                                   </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="">
                                        blank        
                                    </a>
                                </h4>
                                <p>
                                   blank
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                   

                </div>
            </div>
        </section>
        
{% endblock %}