{% extends "Template.html" %}
{% block content %}
<br>
<div class="page-header">
  <h1>Course Catalog</h1>
</div>
<table id='catalog' class="table table-striped"></table>

<script type="text/javascript">
	var dataSet = [
		{% for i in catalog %}
			[	"{{i.deptID}}",
				"{{i.deptName}}",
		        "{{i.CourseID}}",
		        "{{i.courseName}}",
		        "{{i.Credits}}",
		     ]
		    {%- if not loop.last -%}
		      ,
		    {% endif %}
		{% endfor %}
	];
 
$(document).ready(function() {
    $('#catalog').DataTable( {
        data: dataSet,
        columns: [
            { title: "Department ID" },
            { title: "Department Name" },
            { title: "Course ID" },
            { title: "Course Name" },
            { title: "Credits" },
        ]
    } );
});

</script>
{% endblock %}