{% extends "Template.html" %}
{% block content %}
                        <form action="/createcourse" method = "post">
                            <fieldset>
                                <legend>Course information:</legend>
<div class="form-group">Course Number:<input type="text" class="form-control" value="" name="CourseID" style = "width:80px" >
<br>
<div class="form-group">Course Name: <input type="text" class="form-control" value="" name="courseName" style = "width: 200px">
<br>
Course Type:
<select class="form-control" name= "Type">
<option value= "lecture " >Lecture
<option value= "lab ">Lab
<option value= "Net ">Net
</select>
<br>
Department: 
<select class="form-control" name="deptID">
  <option value="CS">Computer Science
  <option value="ENG">English
  <option value="HIS">History 
  <option value="Math">Mathematics
  <option value="PE">Politics, Economics and Law
  <option value="PY">Psychology
  <option value="SY">Sociology
</select>
<br>
Credits : 
<select class="form-control" name="Credits">
<option value = "2">2
<option value = "4">4
</select>
<br>


</select>
<br>
<br>
<button type="submit" name ="btn-submit" value="Submit">Submit</button>
<button type="reset" value="Reset">Reset</button>
</form>
{% if changed == true %}
Course successfully Created
{% elseif changed == false %}
Not Allowed ! Number must be UNIQUE and VALID
{% elseif changed == null %}
Please enter an email address
{% endif %}

{% endblock %}