{% extends "Template.html" %}
{% block content %}


<form action="demo_form.asp" method="get">
Course Number: <input type="text" name="cnumber" style = "width:35px">
<br>
Course Name: <input type="text" name="cname" style = "width: 200px">
<br>
Course Type:
<select>
<option value= "lecture ">Lecture
<option value= "lab ">Lab
<option value= "Net ">Net
</select>
<br>
Department: 
<select >
  <option value="American Studies">American Studies
  <option value="Biological Sciences">Biological Sciences
  <option value="Chemistry & Physics">Chemistry & Physics
  <option value="Computer Information Systems">Computer Information Systems
  <option value="English">English
  <option value="History & Philosophy">History & Philosophy
  <option value="Mathematics">Mathematics
  <option value="Modern Languages">Modern Languages
  <option value="Politics, Economics and Law">Politics, Economics and Law
  <option value="Psychology">Psychology
  <option value="Public Health">Public Health
  <option value="Sociology">Sociology
  <option value="Visual Arts">Visual Arts
</select>
<br>
Credits : 
<select>
<option value = "4">4
<option value = "8">8
<option value = "12">12
<option value = "16">16
</select>
<br>
Time:
<select >
<option value ="8:00am - 9:45am">8:00am to 9:45am
<option value ="8:00am - 9:45am">10:00am to 11:45am
<option value ="8:00am - 9:45am">12:00pm to 1:45pm
<option value ="8:00am - 9:45am">3:00pm to 4:45pm
<option value ="8:00am - 9:45am">6:00pm to 7:45pm
<option value ="8:00am - 9:45am">8:00pm to 9:45pm
</select>
<br>
Professor:
<select >
<option value = "TBA">TBA
<option value = "Professor 1">Professor 1
<option value = "Professor 2">Professor 2
<option value = "Professor 3">Professor 3
<option value = "Professor 4">Professor 4
<option value = "Professor 5">Professor 5

</select>
<br>
<br>
<button type="submit" value="Submit">Submit</button>
<button type="reset" value="Reset">Reset</button>

{% endblock %}
