{% extends "Template.html" %}
{% block content %}

<h1 class="text-center headline wow fadeInUp animated">Welcome {{fname}} {{lname}}</h1>
<section class="works service-page">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Page Navigation</h2>
            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                Welcome to the Faculty Homepage. You can use these links to navigate to parts of the faculty site.
            </p>
        <div class="row">
            <div class="col-sm-3">
                 <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="images/gradepic.png" class="img-responsive" alt="this is a title" >
                        <a href="/fgrade"><div class="overlay"></div></a>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="/fgrade">
                                Grades
                            </a>
                        </h4>
                        <p>
                            Assign grades for your students
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-3">
                 <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                         <img src="images/schedule.png" class="img-responsive" alt="this is a title" >
                        <a href="/fschedule"><div class="overlay"></div></a>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="/fschedule">
                                My Schedule
                            </a>
                        </h4>
                        <p>
                            View my schedule
                        </p>
                    </figcaption>
                </figure>
            </div>


            <div class="col-sm-3">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-3.jpg" class="img-responsive" alt="" >
                        <a href="/finfo"><div class="overlay"></div></a>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="/finfo">
                                Personal Information        
                            </a>
                        </h4>
                        <p>
                           View or edit personal information
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-3">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="img-wrapper">
                        <img src="images/catalog.png" class="img-responsive" alt="" >
                        <a href="/coursecatalog"><div class="overlay"></div></a>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="/coursecatalog">
                                Course Catalog     
                            </a>
                        </h4>
                        <p>
                            View Courses that are offered
                        </p>
                    </figcaption>
                </figure>
            </div>

           

        </div>

        
</section>
           
{% endblock %}