{% extends "Template.html" %}
{% block content %}
<br>
<h1>Your student advisement list</h1>

<table id='catalog' class="table table-striped"></table>

<script type="text/javascript">
	var dataSet = [
		{% for i in fadvisor %}
			[	"{{i.userID}}",
				"{{i.fName}}",
		        "{{i.lName}}",
		        "{{i.majorID}}",
		        "{{i.email}}",
		     ]
		    {%- if not loop.last -%}
		      ,
		    {% endif %}
		{% endfor %}
	];
 
$(document).ready(function() {
    $('#catalog').DataTable( {
        data: dataSet,
        columns: [
            { title: "Student ID" },
            { title: "First Name" },
            { title: "Last Name" },
            { title: "Major" },
            { title: "Email"},
        ]
    } );
});

</script>

</div>
{% for i in fadvisor %}
	<div class="col-md-5">
		<h2> Department: {{i.Department_deptID}}</h2>
		<table class="table ">
		    <tbody>
		      <tr>
		        <th>First Name:</th>
		        <td>{{i.fName}}</td>
		      </tr>
		      <tr>
		        <th>Last Name:</th>
		        <td>{{i.lName}}</td>
		      </tr>
		      <tr>
		        <th>Email Adress:</th>
		        <td>{{i.email}}</td>
		      </tr>
		    </tbody>
		</table>
</div>
{% endfor %}
{% endblock %}