{% extends "Template.html" %}
{% block content %}
<br>
<h1>Your student advisement list</h1>

</div>
	<div class="col-md-5">
		<table class="table ">
		    <tbody>
{% for i in fadvisor %}
		      <tr>
		        <th>First Name:</th>
		        <td>{{i.fName}}</td>
		      </tr>
		      <tr>
		        <th>Last Name:</th>
		        <td>{{i.lName}}</td>
		      </tr>
		      <tr>
		        <th>Email Adress:</th>
		        <td>{{i.email}}</td>
		      </tr>
{% endfor %}
		    </tbody>
		</table>
</div>
{% endblock %}