{% extends "Template.html" %}
{% block content %}

   <div class="col-md-4"> </div>
    <form action="fgrade.php" class="col-md-4 text-center" method="POST">
        <div class="form-group col-md-6">
            <label for="semester">Select Semester</label>
                <select class="form-control" name="semester">
                    <option selected="selected" value=''>--Select Semester--</option>
                    {% for i in semester %}
                        <option value="{{i.semesterID}}">{{i.semesterID|capitalize}} </option>
                    {% endfor %}

                </select>
        </div>

        <div class="form-group col-md-6">
            <label for="year">Select Year</label>
                <select class="form-control" name="year">
                    <option selected="selected" value=''>--Select Year--</option>
                    {% for i in year %}
                        <option value="{{i.semesterYear}}">{{i.semesterYear}} </option>
                    {% endfor %}

                </select>
        </div>
        
        <button name="btn-submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

<table>
    {# this outputs the result(array) where i is the key and data is the array passed. #}
    {% for i in data %}
    <!--Display a list of the courses-->
        <tr>
            <td>{{i.sectionID}}</td>
            <td> {{i.courseID}} </td>
            <td>{{i.Student_userID}}</td>
            <td>{{i.Grade}}</td>
        </tr>
    {% endfor %}
</table>

     
{% endblock %}