{% extends "Template.html" %}
{% block content %}

    <form method="post" action="">

        <div class="form-group">
            <label for="sel1">Select Semester</label>
                <select class="form-control" id="semester">
                    <option>Fall</option>
                    <option>Winter</option>
                    <option>Spring</option>
                    <option>Summer</option>
                </select>
        </div>

        <div class="form-group">
            <label for="sel1">Select Year</label>
                <select class="form-control" id="year">
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
        </div>
        <center><p><input type="submit" value="edit/view Grades"></p></center>
    </form>

<table>
    {# this outputs the result(array) where i is the key and data is the array passed. #}
    {% for i in data %}
        <tr>
            <td> {{i.email}} </td>
        </tr>
    {% endfor %}
</table>

     
{% endblock %}