{% extends "Template.html" %}
{% block content %}

<section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Edit Information</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        Here faculty and staff members can edit/update certain fields pertaining to themselves. </p>
                       
                        <div class="col-sm-4">
                         <table class="table">
      
                           <tbody>
                            {% for i in check %}
                              <tr>
                                  <th >User Type</t>
                                      <td>{{i.userID}}</td>
                                  </tr>
                              <tr>
                                  <th>Firstname</th>
                                      <td>{{i.fName}}</td>
                              </tr>
                              <tr>
                                  <th>Lastname</t>
                                      <td>{{i.lName}}</td>
                             </tr>
                             <tr>
                                  <th>Email</t>
                                      <td>{{i.email}}</td>
                             </tr>
                             <tr>
                                  <th>Street</t>
                                      <td>{{i.Street}}</td>
                             </tr>
                             <tr>
                                  <th>City</t>
                                      <td>{{i.City}}</td>
                            </tr>
                            <tr>
                                  <th>Zipcode</t>
                                      <td>{{i.Zip}}</td>
                            </tr>
                             <tr>
                                  <th>State</t>
                                      <td>{{i.State}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>      
        </section>

                             
{% endblock %}