{% extends "Template.html" %}
{% block content %}

<section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Edit Information</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        Here faculty and staff members can edit/update certain fields pertaining to themselves. </p>
                       
                        <div class="col-sm-4">
                         <table class="table">
      
                           <tbody>
                              <tr>
                                  <th>User Type</t>
                                      <td>{{}}</td>
                                  </tr>
                              <tr>
                                  <th>Firstname</th>
                                      <td>{{}}</td>
                              </tr>
                              <tr>
                                  <th>Lastname</t>
                                      <td>{{}}</td>
                             </tr>
                             <tr>
                                  <th>Email</t>
                                      <td>{{}}</td>
                             </tr>
                             <tr>
                                  <th>Street</t>
                                      <td>{{}}</td>
                             </tr>
                             <tr>
                                  <th>City</t>
                                      <td>{{}}</td>
                            </tr>
                            <tr>
                                  <th>Zipcode</t>
                                      <td>{{}}</td>
                            </tr>
                             <tr>
                                  <th>State</t>
                                      <td>{{}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>      
        </section>
{% for i in check%}
                             <div class="form-group">Street Address:<br> <label type="text" class="form-control" name="street" value="{{i.Street}}"> <br>
                             <div class="form-group">City:<br><input type="text" class="form-control" name="city" value="{{i.City}}"><br>
                             <div class="form-group">zip-code:<br><input type="text" class="form-control" name="zip" value="{{i.Zip}}"><br>
                            <div class="form-group">State:<br><input type="text" class="form-control" name="state" value="{{i.State}}"><br><br>
                                {% endfor %}
{% endblock %}