{% extends "Template.html" %}
{% block content %}

<section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Edit Information</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        Here faculty and staff members can edit/update certain fields pertaining to themselves. </p>
                       
                        <div class="col-sm-4">
                        <form action="finfo.php">
                            <fieldset>
                                <legend>Personal information:</legend>
                             <div class="form-group">Street Address:<br> <input type="text" class="form-control" name="street" value="{check.Street}"> <br>
                             <div class="form-group">City:<br><input type="text" class="form-control" name="city" value="{check.City}"><br>
                             <div class="form-group">zip-code:<br><input type="text" class="form-control" name="zip" value"{check.Zip}"><br>
                            <div class="form-group">State:<br><input
                              type="text" class="form-control" name="state" value="{check.State}"><br><br>
                             <input name="submit" type="submit" value="Submit">
                             </fieldset>
                        </form>
                    </div>      
        </section>
        {% endblock %}