{% extends "Template.html" %}
{% block content %}

<br>
	<h1 class='text-center'>My Schedule</h1>

		<form action="/fschedule" method="POST">
			<input type="hidden" name="semester" value="{{s}}" >
			<input type="hidden" name="year" value="{{y}}" >
			<table id="schedule" class="table table-striped">
			<br>
                    {% for i in course %}
                        <option value="{{i.CourseID}}-{{i.sectionID}}">{{i.CourseID|capitalize}}-{{i.sectionID}} </option>
                    {% endfor %}

   

		</form>

<script type="text/javascript">
	var dataSet = [
		{% for i in roster %}
				[
					"{{i.sectionID}}",
					"{{i.CourseID}}",
					"{{i.timeSlot_Day}}", 
					"{{i.timeSlot_Time}}",
					"{{i.roomNum}}",
					"<input name='grade' type='text'>"
					
			     ]
		    {%- if not loop.last -%}
		      ,
		    {% endif %}
		{% endfor %}
	];
 
$(document).ready(function() {
    $('#roster').DataTable( {
        data: dataSet,
        columns: [
            { title: "Section" },
            { title: "Course ID" },
            { title: "Day"},
            { title: "Time"},
            { title: "Room Num"},
           
            
            
        ]
    } );
} );
</script>


{% endblock %}