{% extends "Template.html" %}
{% block content %}
<form action="/removehold" method = "post">
<fieldset>
<legend>Please Fill In the following fields below:</legend>
<div class="form-group">Student ID:<input type="text" class="form-control" value="" name="Student_userID" style = "width:80px" >
<br>
Hold Type:
<select class="form-control" style = "width:120px" name= "TypeH">
<option value= "Academic">Academic</option>
<option value= "Financial">Financial</option>
<option value= "Medical">Medical</option>
</select>

<br>
<button type="submit" name ="btn-submit" value="Submit">Submit</button>
<button type="reset" value="Reset">Reset</button>
</form>
{% if found == true %}
Hold successfully Placed
{% endif %}

{% endblock %}