{% extends "Template.html" %}
{% block content %}

<h1 class="text-center headline wow fadeInUp animated">Welcome {{fname}} {{lname}}</h1>
  <section class="works service-page">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Page Navigation</h2>
            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                Welcome to the Marvel College. You can use these links to navigate through the site.
            </p>

    </div>
  </section>
{% endblock %}
