{% extends "Template.html" %}
{% block content %}

        <section class="works service-page">
            <div class="container">
<body>
<center>
<h2><em> Please enter the email of the account you wish to reset below</em></h2>
<form action="/reset" method="post">
Email Address: <input type="text" name="email" style = "width:250px" class="form-control">
<br>
<button type="submit" name ="btn-submit" class="btn btn-lg btn-primary btn-block" style = "width:120px" value="submit">Submit</button>
</form>
{% if changed == true %}
Password successfully changed
{% elseif changed == false %}
Incorrect email address
{% elseif changed == null %}
Please enter an email address
{% endif %}
   
</center>
</body>
{% endblock %}