{% extends "Template.html" %}
{% block content %}
<h1>List of Students</h1>
<section class="works service-page">
    <table id='students' class="table table-striped"></table>
        
</section>
<script type="text/javascript">
    var dataSet = [
        {% for i in students %}
            [   "{{i.userID}}",
                "{{i.email}}",
                "{{i.fName}}",
                "{{i.lName}}",
                "{{i.birthdate}}",
                "{{i.Street}}",
                "{{i.City}}",
                "{{i.State}}",
                "{{i.Zip}}",
                "{{i.gpa}}"

             ]
            {%- if not loop.last -%}
              ,
            {% endif %}
        {% endfor %}
    ];
 
$(document).ready(function() {
    $('#students').DataTable( {
        data: dataSet,
        columns: [
            { title: "User ID" },
            { title: "Email" },
            { title: "First Name" },
            { title: "Last Name" },
            { title: "BirthDate" },
            { title: "Street" },
            { title: "City" },
            { title: "State" },
            { title: "Zip" },
            { title: "GPA" }
        ]
    } );
});

</script>
{% endblock %}