{% extends "Template.html" %}
{% block content %}

<body> <center>
<h2> <em>Enter the User ID of the student you wish to view below</em> </h2>
<form action="/Sinfo" method="post">
UserID: <input type="text" name="userid" style = "width:100px" class="form-control">
<br>
<button type="submit" name ="btn-submit" value="submit">Submit</button>
</form>
</center> </body>



<script type="text/javascript">
	var dataSet = [
		{% for i in data %}
			[
				"{{i.fName}} {{i.lName}}",
				"{{i.email}}",
				"{{i.birthdate}}",
				"{{i.Street}}",
				"{{i.City}}",
				"{{i.State}}"
				"{{i.Zip}}",
				"{{i.userType}}",
			]
			{% endfor %}
		];
		
$(document).ready(function() {
    $('#result').DataTable( {
        data: dataSet,
        columns: [
            { title: "Name" },
            { title: "email" },
            { title: "Date Of Birth" },
            { title: "Address" },
            { title: "City" },
            { title: "State" },
            { title: "Zip" },
            { title: "Title" },
            { title: "Time" },
            { title: "Semester" },
            { title: "Year" },
            { title: "Drop" },
        ]
    } );
});
</script>
{% endblock %}